# coding: utf-8

"""
    MBTA

    MBTA service API. https://www.mbta.com Source code: https://github.com/mbta/api

    The version of the OpenAPI document: 3.0
    Contact: developer@mbta.com
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

import warnings
from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

from datetime import date
from pydantic import Field, StrictStr, field_validator
from typing import Optional
from typing_extensions import Annotated
from mbta_client.models.predictions import Predictions

from mbta_client.api_client import ApiClient, RequestSerialized
from mbta_client.api_response import ApiResponse
from mbta_client.rest import RESTResponseType


class PredictionApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client


    @validate_call
    def api_web_prediction_controller_index(
        self,
        page_offset: Annotated[Optional[Annotated[int, Field(strict=True, ge=0)]], Field(description="Offset (0-based) of first element in the page")] = None,
        page_limit: Annotated[Optional[Annotated[int, Field(strict=True, ge=1)]], Field(description="Max number of elements to return")] = None,
        sort: Annotated[Optional[StrictStr], Field(description="Results can be [sorted](http://jsonapi.org/format/#fetching-sorting) by the id or any `/data/{index}/attributes` key.  | JSON pointer | Direction | `sort`     | |--------------|-----------|------------| | `/data/{index}/attributes/arrival_time` | ascending | `arrival_time` | | `/data/{index}/attributes/arrival_time` | descending | `-arrival_time` | | `/data/{index}/attributes/arrival_uncertainty` | ascending | `arrival_uncertainty` | | `/data/{index}/attributes/arrival_uncertainty` | descending | `-arrival_uncertainty` | | `/data/{index}/attributes/departure_time` | ascending | `departure_time` | | `/data/{index}/attributes/departure_time` | descending | `-departure_time` | | `/data/{index}/attributes/departure_uncertainty` | ascending | `departure_uncertainty` | | `/data/{index}/attributes/departure_uncertainty` | descending | `-departure_uncertainty` | | `/data/{index}/attributes/direction_id` | ascending | `direction_id` | | `/data/{index}/attributes/direction_id` | descending | `-direction_id` | | `/data/{index}/attributes/revenue_status` | ascending | `revenue_status` | | `/data/{index}/attributes/revenue_status` | descending | `-revenue_status` | | `/data/{index}/attributes/schedule_relationship` | ascending | `schedule_relationship` | | `/data/{index}/attributes/schedule_relationship` | descending | `-schedule_relationship` | | `/data/{index}/attributes/status` | ascending | `status` | | `/data/{index}/attributes/status` | descending | `-status` | | `/data/{index}/attributes/stop_sequence` | ascending | `stop_sequence` | | `/data/{index}/attributes/stop_sequence` | descending | `-stop_sequence` | | `/data/{index}/attributes/update_type` | ascending | `update_type` | | `/data/{index}/attributes/update_type` | descending | `-update_type` |  | `/data/{index}/attributes/arrival_time` if present, otherwise `/data/{index}/attributes/departure_time` | ascending | `time` | | `/data/{index}/attributes/arrival_time` if present, otherwise `/data/{index}/attributes/departure_time` | descending | `-time` |  ")] = None,
        fields_prediction: Annotated[Optional[StrictStr], Field(description="Fields to include with the response. Multiple fields **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Note that fields can also be selected for included data types: see the [V3 API Best Practices](https://www.mbta.com/developers/v3-api/best-practices) for an example. ")] = None,
        include: Annotated[Optional[StrictStr], Field(description="Relationships to include.  * `schedule` * `stop` * `route` * `trip` * `vehicle` * `alerts`  The value of the include parameter **MUST** be a comma-separated (U+002C COMMA, \",\") list of relationship paths. A relationship path is a dot-separated (U+002E FULL-STOP, \".\") list of relationship names. [JSONAPI \"include\" behavior](http://jsonapi.org/format/#fetching-includes)  ## Example  `https://api-v3.mbta.com/predictions?filter%5Bstop%5D=place-sstat&filter%5Bdirection_id%5D=0&include=stop` returns predictions from South Station with direction_id=0, below is a truncated response with only relevant fields displayed: ```   {     \"data\": [       {         \"id\": \"prediction-CR-Weekday-Fall-18-743-South Station-02-1\",         \"relationships\": {           \"stop\": {             \"data\": {               \"id\": \"South Station-02\",               \"type\": \"stop\"             }           },         },         \"type\": \"prediction\"       }     ],     \"included\": [       {         \"attributes\": {           \"platform_code\": \"2\",         },         \"id\": \"South Station-02\",         \"type\": \"stop\"       }     ],   } ``` Note the stop relationship; use it to cross-reference  stop-id with the included stops to retrieve the platform_code for the given prediction.  ## Note on trips A Vehicle's `trip` is what is currently being served.  A Prediction also has a `vehicle`: this is the vehicle we predict will serve this trip/stop.  Since we know vehicles make future trips, the trip the vehicle is currently servicing can be different from the trips we're making predictions for.  For example: * Vehicle 1234 is currently serving trip A * The block is Trip A → Trip B → Trip C  We'll be making predictions for the rest of trip A, as well as all the stops of trip B and trip C. The `trip` for the Vehicle is always `A`, and all of the Predictions will reference Vehicle 1234.  ")] = None,
        filter_latitude: Annotated[Optional[StrictStr], Field(description=" Latitude/Longitude must be both present or both absent.")] = None,
        filter_longitude: Annotated[Optional[StrictStr], Field(description=" Latitude/Longitude must be both present or both absent.")] = None,
        filter_radius: Annotated[Optional[date], Field(description=" Radius accepts a floating point number, and the default is 0.01.  For example, if you query for: latitude: 42,  longitude: -71,  radius: 0.05 then you will filter between latitudes 41.95 and 42.05, and longitudes -70.95 and -71.05.")] = None,
        filter_direction_id: Annotated[Optional[StrictStr], Field(description="Filter by direction of travel along the route. Must be used in conjuction with `filter[route]` to apply.  The meaning of `direction_id` varies based on the route. You can programmatically get the direction names from `/routes` `/data/{index}/attributes/direction_names` or `/routes/{id}` `/data/attributes/direction_names`.    ")] = None,
        filter_route_type: Annotated[Optional[StrictStr], Field(description="Filter by route_type: https://gtfs.org/documentation/schedule/reference/#routestxt.  Multiple `route_type` **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Must be used in conjunction with another filter. ")] = None,
        filter_stop: Annotated[Optional[StrictStr], Field(description="Filter by `/data/{index}/relationships/stop/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Parent station IDs are treated as though their child stops were also included.  ")] = None,
        filter_route: Annotated[Optional[StrictStr], Field(description="Filter by `/data/{index}/relationships/route/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.   ")] = None,
        filter_trip: Annotated[Optional[StrictStr], Field(description="Filter by `/data/{index}/relationships/trip/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.   ")] = None,
        filter_revenue: Annotated[Optional[StrictStr], Field(description="Filter predictions by revenue status. Revenue status indicates whether or not the vehicle is accepting passengers. When filter is not included, the default behavior is to filter by `revenue=REVENUE`.  Multiple `revenue` types **MUST** be a comma-separated (U+002C COMMA, \",\") list. ")] = None,
        filter_route_pattern: Annotated[Optional[StrictStr], Field(description="Filter by `/included/{index}/relationships/route_pattern/data/id` of a trip. Multiple `route_pattern_id` **MUST** be a comma-separated (U+002C COMMA, \",\") list. ")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> Predictions:
        """api_web_prediction_controller_index

        **NOTE:** A filter **MUST** be present for any predictions to be returned.  List of predictions for trips.  To get the scheduled times instead of the predictions, use `/schedules`.  The predicted arrival time (`//data/{index}/attributes/arrival_time`) and departure time (`/data/{index}/attributes/departure_time`) to/from a stop (`/data/{index}/relationships/stop/data/id`) at a given sequence (`/data/{index}/attriutes/stop_sequence`) along a trip (`/data/{index}/relationships/trip/data/id`) going a direction (`/data/{index}/attributes/direction_id`) along a route (`/data/{index}/relationships/route/data/id`).  See [GTFS Realtime `FeedMesage` `FeedEntity` `TripUpdate` `TripDescriptor`](https://github.com/google/transit/blob/master/gtfs-realtime/spec/en/reference.md#message-tripdescriptor) See [GTFS Realtime `FeedMesage` `FeedEntity` `TripUpdate` `StopTimeUpdate`](https://github.com/google/transit/blob/master/gtfs-realtime/spec/en/reference.md#message-stoptimeupdate)   ## When a vehicle is predicted to be at a stop  `/predictions?filter[stop]=STOP_ID`  ## The predicted schedule for one route  `/predictions?filter[route]=ROUTE_ID`  ## The predicted schedule for a whole trip  `/predictions?filter[trip]=TRIP_ID`  

        :param page_offset: Offset (0-based) of first element in the page
        :type page_offset: int
        :param page_limit: Max number of elements to return
        :type page_limit: int
        :param sort: Results can be [sorted](http://jsonapi.org/format/#fetching-sorting) by the id or any `/data/{index}/attributes` key.  | JSON pointer | Direction | `sort`     | |--------------|-----------|------------| | `/data/{index}/attributes/arrival_time` | ascending | `arrival_time` | | `/data/{index}/attributes/arrival_time` | descending | `-arrival_time` | | `/data/{index}/attributes/arrival_uncertainty` | ascending | `arrival_uncertainty` | | `/data/{index}/attributes/arrival_uncertainty` | descending | `-arrival_uncertainty` | | `/data/{index}/attributes/departure_time` | ascending | `departure_time` | | `/data/{index}/attributes/departure_time` | descending | `-departure_time` | | `/data/{index}/attributes/departure_uncertainty` | ascending | `departure_uncertainty` | | `/data/{index}/attributes/departure_uncertainty` | descending | `-departure_uncertainty` | | `/data/{index}/attributes/direction_id` | ascending | `direction_id` | | `/data/{index}/attributes/direction_id` | descending | `-direction_id` | | `/data/{index}/attributes/revenue_status` | ascending | `revenue_status` | | `/data/{index}/attributes/revenue_status` | descending | `-revenue_status` | | `/data/{index}/attributes/schedule_relationship` | ascending | `schedule_relationship` | | `/data/{index}/attributes/schedule_relationship` | descending | `-schedule_relationship` | | `/data/{index}/attributes/status` | ascending | `status` | | `/data/{index}/attributes/status` | descending | `-status` | | `/data/{index}/attributes/stop_sequence` | ascending | `stop_sequence` | | `/data/{index}/attributes/stop_sequence` | descending | `-stop_sequence` | | `/data/{index}/attributes/update_type` | ascending | `update_type` | | `/data/{index}/attributes/update_type` | descending | `-update_type` |  | `/data/{index}/attributes/arrival_time` if present, otherwise `/data/{index}/attributes/departure_time` | ascending | `time` | | `/data/{index}/attributes/arrival_time` if present, otherwise `/data/{index}/attributes/departure_time` | descending | `-time` |  
        :type sort: str
        :param fields_prediction: Fields to include with the response. Multiple fields **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Note that fields can also be selected for included data types: see the [V3 API Best Practices](https://www.mbta.com/developers/v3-api/best-practices) for an example. 
        :type fields_prediction: str
        :param include: Relationships to include.  * `schedule` * `stop` * `route` * `trip` * `vehicle` * `alerts`  The value of the include parameter **MUST** be a comma-separated (U+002C COMMA, \",\") list of relationship paths. A relationship path is a dot-separated (U+002E FULL-STOP, \".\") list of relationship names. [JSONAPI \"include\" behavior](http://jsonapi.org/format/#fetching-includes)  ## Example  `https://api-v3.mbta.com/predictions?filter%5Bstop%5D=place-sstat&filter%5Bdirection_id%5D=0&include=stop` returns predictions from South Station with direction_id=0, below is a truncated response with only relevant fields displayed: ```   {     \"data\": [       {         \"id\": \"prediction-CR-Weekday-Fall-18-743-South Station-02-1\",         \"relationships\": {           \"stop\": {             \"data\": {               \"id\": \"South Station-02\",               \"type\": \"stop\"             }           },         },         \"type\": \"prediction\"       }     ],     \"included\": [       {         \"attributes\": {           \"platform_code\": \"2\",         },         \"id\": \"South Station-02\",         \"type\": \"stop\"       }     ],   } ``` Note the stop relationship; use it to cross-reference  stop-id with the included stops to retrieve the platform_code for the given prediction.  ## Note on trips A Vehicle's `trip` is what is currently being served.  A Prediction also has a `vehicle`: this is the vehicle we predict will serve this trip/stop.  Since we know vehicles make future trips, the trip the vehicle is currently servicing can be different from the trips we're making predictions for.  For example: * Vehicle 1234 is currently serving trip A * The block is Trip A → Trip B → Trip C  We'll be making predictions for the rest of trip A, as well as all the stops of trip B and trip C. The `trip` for the Vehicle is always `A`, and all of the Predictions will reference Vehicle 1234.  
        :type include: str
        :param filter_latitude:  Latitude/Longitude must be both present or both absent.
        :type filter_latitude: str
        :param filter_longitude:  Latitude/Longitude must be both present or both absent.
        :type filter_longitude: str
        :param filter_radius:  Radius accepts a floating point number, and the default is 0.01.  For example, if you query for: latitude: 42,  longitude: -71,  radius: 0.05 then you will filter between latitudes 41.95 and 42.05, and longitudes -70.95 and -71.05.
        :type filter_radius: date
        :param filter_direction_id: Filter by direction of travel along the route. Must be used in conjuction with `filter[route]` to apply.  The meaning of `direction_id` varies based on the route. You can programmatically get the direction names from `/routes` `/data/{index}/attributes/direction_names` or `/routes/{id}` `/data/attributes/direction_names`.    
        :type filter_direction_id: str
        :param filter_route_type: Filter by route_type: https://gtfs.org/documentation/schedule/reference/#routestxt.  Multiple `route_type` **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Must be used in conjunction with another filter. 
        :type filter_route_type: str
        :param filter_stop: Filter by `/data/{index}/relationships/stop/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Parent station IDs are treated as though their child stops were also included.  
        :type filter_stop: str
        :param filter_route: Filter by `/data/{index}/relationships/route/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.   
        :type filter_route: str
        :param filter_trip: Filter by `/data/{index}/relationships/trip/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.   
        :type filter_trip: str
        :param filter_revenue: Filter predictions by revenue status. Revenue status indicates whether or not the vehicle is accepting passengers. When filter is not included, the default behavior is to filter by `revenue=REVENUE`.  Multiple `revenue` types **MUST** be a comma-separated (U+002C COMMA, \",\") list. 
        :type filter_revenue: str
        :param filter_route_pattern: Filter by `/included/{index}/relationships/route_pattern/data/id` of a trip. Multiple `route_pattern_id` **MUST** be a comma-separated (U+002C COMMA, \",\") list. 
        :type filter_route_pattern: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._api_web_prediction_controller_index_serialize(
            page_offset=page_offset,
            page_limit=page_limit,
            sort=sort,
            fields_prediction=fields_prediction,
            include=include,
            filter_latitude=filter_latitude,
            filter_longitude=filter_longitude,
            filter_radius=filter_radius,
            filter_direction_id=filter_direction_id,
            filter_route_type=filter_route_type,
            filter_stop=filter_stop,
            filter_route=filter_route,
            filter_trip=filter_trip,
            filter_revenue=filter_revenue,
            filter_route_pattern=filter_route_pattern,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '429': "TooManyRequests",
            '403': "Forbidden",
            '400': "BadRequest",
            '200': "Predictions",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def api_web_prediction_controller_index_with_http_info(
        self,
        page_offset: Annotated[Optional[Annotated[int, Field(strict=True, ge=0)]], Field(description="Offset (0-based) of first element in the page")] = None,
        page_limit: Annotated[Optional[Annotated[int, Field(strict=True, ge=1)]], Field(description="Max number of elements to return")] = None,
        sort: Annotated[Optional[StrictStr], Field(description="Results can be [sorted](http://jsonapi.org/format/#fetching-sorting) by the id or any `/data/{index}/attributes` key.  | JSON pointer | Direction | `sort`     | |--------------|-----------|------------| | `/data/{index}/attributes/arrival_time` | ascending | `arrival_time` | | `/data/{index}/attributes/arrival_time` | descending | `-arrival_time` | | `/data/{index}/attributes/arrival_uncertainty` | ascending | `arrival_uncertainty` | | `/data/{index}/attributes/arrival_uncertainty` | descending | `-arrival_uncertainty` | | `/data/{index}/attributes/departure_time` | ascending | `departure_time` | | `/data/{index}/attributes/departure_time` | descending | `-departure_time` | | `/data/{index}/attributes/departure_uncertainty` | ascending | `departure_uncertainty` | | `/data/{index}/attributes/departure_uncertainty` | descending | `-departure_uncertainty` | | `/data/{index}/attributes/direction_id` | ascending | `direction_id` | | `/data/{index}/attributes/direction_id` | descending | `-direction_id` | | `/data/{index}/attributes/revenue_status` | ascending | `revenue_status` | | `/data/{index}/attributes/revenue_status` | descending | `-revenue_status` | | `/data/{index}/attributes/schedule_relationship` | ascending | `schedule_relationship` | | `/data/{index}/attributes/schedule_relationship` | descending | `-schedule_relationship` | | `/data/{index}/attributes/status` | ascending | `status` | | `/data/{index}/attributes/status` | descending | `-status` | | `/data/{index}/attributes/stop_sequence` | ascending | `stop_sequence` | | `/data/{index}/attributes/stop_sequence` | descending | `-stop_sequence` | | `/data/{index}/attributes/update_type` | ascending | `update_type` | | `/data/{index}/attributes/update_type` | descending | `-update_type` |  | `/data/{index}/attributes/arrival_time` if present, otherwise `/data/{index}/attributes/departure_time` | ascending | `time` | | `/data/{index}/attributes/arrival_time` if present, otherwise `/data/{index}/attributes/departure_time` | descending | `-time` |  ")] = None,
        fields_prediction: Annotated[Optional[StrictStr], Field(description="Fields to include with the response. Multiple fields **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Note that fields can also be selected for included data types: see the [V3 API Best Practices](https://www.mbta.com/developers/v3-api/best-practices) for an example. ")] = None,
        include: Annotated[Optional[StrictStr], Field(description="Relationships to include.  * `schedule` * `stop` * `route` * `trip` * `vehicle` * `alerts`  The value of the include parameter **MUST** be a comma-separated (U+002C COMMA, \",\") list of relationship paths. A relationship path is a dot-separated (U+002E FULL-STOP, \".\") list of relationship names. [JSONAPI \"include\" behavior](http://jsonapi.org/format/#fetching-includes)  ## Example  `https://api-v3.mbta.com/predictions?filter%5Bstop%5D=place-sstat&filter%5Bdirection_id%5D=0&include=stop` returns predictions from South Station with direction_id=0, below is a truncated response with only relevant fields displayed: ```   {     \"data\": [       {         \"id\": \"prediction-CR-Weekday-Fall-18-743-South Station-02-1\",         \"relationships\": {           \"stop\": {             \"data\": {               \"id\": \"South Station-02\",               \"type\": \"stop\"             }           },         },         \"type\": \"prediction\"       }     ],     \"included\": [       {         \"attributes\": {           \"platform_code\": \"2\",         },         \"id\": \"South Station-02\",         \"type\": \"stop\"       }     ],   } ``` Note the stop relationship; use it to cross-reference  stop-id with the included stops to retrieve the platform_code for the given prediction.  ## Note on trips A Vehicle's `trip` is what is currently being served.  A Prediction also has a `vehicle`: this is the vehicle we predict will serve this trip/stop.  Since we know vehicles make future trips, the trip the vehicle is currently servicing can be different from the trips we're making predictions for.  For example: * Vehicle 1234 is currently serving trip A * The block is Trip A → Trip B → Trip C  We'll be making predictions for the rest of trip A, as well as all the stops of trip B and trip C. The `trip` for the Vehicle is always `A`, and all of the Predictions will reference Vehicle 1234.  ")] = None,
        filter_latitude: Annotated[Optional[StrictStr], Field(description=" Latitude/Longitude must be both present or both absent.")] = None,
        filter_longitude: Annotated[Optional[StrictStr], Field(description=" Latitude/Longitude must be both present or both absent.")] = None,
        filter_radius: Annotated[Optional[date], Field(description=" Radius accepts a floating point number, and the default is 0.01.  For example, if you query for: latitude: 42,  longitude: -71,  radius: 0.05 then you will filter between latitudes 41.95 and 42.05, and longitudes -70.95 and -71.05.")] = None,
        filter_direction_id: Annotated[Optional[StrictStr], Field(description="Filter by direction of travel along the route. Must be used in conjuction with `filter[route]` to apply.  The meaning of `direction_id` varies based on the route. You can programmatically get the direction names from `/routes` `/data/{index}/attributes/direction_names` or `/routes/{id}` `/data/attributes/direction_names`.    ")] = None,
        filter_route_type: Annotated[Optional[StrictStr], Field(description="Filter by route_type: https://gtfs.org/documentation/schedule/reference/#routestxt.  Multiple `route_type` **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Must be used in conjunction with another filter. ")] = None,
        filter_stop: Annotated[Optional[StrictStr], Field(description="Filter by `/data/{index}/relationships/stop/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Parent station IDs are treated as though their child stops were also included.  ")] = None,
        filter_route: Annotated[Optional[StrictStr], Field(description="Filter by `/data/{index}/relationships/route/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.   ")] = None,
        filter_trip: Annotated[Optional[StrictStr], Field(description="Filter by `/data/{index}/relationships/trip/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.   ")] = None,
        filter_revenue: Annotated[Optional[StrictStr], Field(description="Filter predictions by revenue status. Revenue status indicates whether or not the vehicle is accepting passengers. When filter is not included, the default behavior is to filter by `revenue=REVENUE`.  Multiple `revenue` types **MUST** be a comma-separated (U+002C COMMA, \",\") list. ")] = None,
        filter_route_pattern: Annotated[Optional[StrictStr], Field(description="Filter by `/included/{index}/relationships/route_pattern/data/id` of a trip. Multiple `route_pattern_id` **MUST** be a comma-separated (U+002C COMMA, \",\") list. ")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[Predictions]:
        """api_web_prediction_controller_index

        **NOTE:** A filter **MUST** be present for any predictions to be returned.  List of predictions for trips.  To get the scheduled times instead of the predictions, use `/schedules`.  The predicted arrival time (`//data/{index}/attributes/arrival_time`) and departure time (`/data/{index}/attributes/departure_time`) to/from a stop (`/data/{index}/relationships/stop/data/id`) at a given sequence (`/data/{index}/attriutes/stop_sequence`) along a trip (`/data/{index}/relationships/trip/data/id`) going a direction (`/data/{index}/attributes/direction_id`) along a route (`/data/{index}/relationships/route/data/id`).  See [GTFS Realtime `FeedMesage` `FeedEntity` `TripUpdate` `TripDescriptor`](https://github.com/google/transit/blob/master/gtfs-realtime/spec/en/reference.md#message-tripdescriptor) See [GTFS Realtime `FeedMesage` `FeedEntity` `TripUpdate` `StopTimeUpdate`](https://github.com/google/transit/blob/master/gtfs-realtime/spec/en/reference.md#message-stoptimeupdate)   ## When a vehicle is predicted to be at a stop  `/predictions?filter[stop]=STOP_ID`  ## The predicted schedule for one route  `/predictions?filter[route]=ROUTE_ID`  ## The predicted schedule for a whole trip  `/predictions?filter[trip]=TRIP_ID`  

        :param page_offset: Offset (0-based) of first element in the page
        :type page_offset: int
        :param page_limit: Max number of elements to return
        :type page_limit: int
        :param sort: Results can be [sorted](http://jsonapi.org/format/#fetching-sorting) by the id or any `/data/{index}/attributes` key.  | JSON pointer | Direction | `sort`     | |--------------|-----------|------------| | `/data/{index}/attributes/arrival_time` | ascending | `arrival_time` | | `/data/{index}/attributes/arrival_time` | descending | `-arrival_time` | | `/data/{index}/attributes/arrival_uncertainty` | ascending | `arrival_uncertainty` | | `/data/{index}/attributes/arrival_uncertainty` | descending | `-arrival_uncertainty` | | `/data/{index}/attributes/departure_time` | ascending | `departure_time` | | `/data/{index}/attributes/departure_time` | descending | `-departure_time` | | `/data/{index}/attributes/departure_uncertainty` | ascending | `departure_uncertainty` | | `/data/{index}/attributes/departure_uncertainty` | descending | `-departure_uncertainty` | | `/data/{index}/attributes/direction_id` | ascending | `direction_id` | | `/data/{index}/attributes/direction_id` | descending | `-direction_id` | | `/data/{index}/attributes/revenue_status` | ascending | `revenue_status` | | `/data/{index}/attributes/revenue_status` | descending | `-revenue_status` | | `/data/{index}/attributes/schedule_relationship` | ascending | `schedule_relationship` | | `/data/{index}/attributes/schedule_relationship` | descending | `-schedule_relationship` | | `/data/{index}/attributes/status` | ascending | `status` | | `/data/{index}/attributes/status` | descending | `-status` | | `/data/{index}/attributes/stop_sequence` | ascending | `stop_sequence` | | `/data/{index}/attributes/stop_sequence` | descending | `-stop_sequence` | | `/data/{index}/attributes/update_type` | ascending | `update_type` | | `/data/{index}/attributes/update_type` | descending | `-update_type` |  | `/data/{index}/attributes/arrival_time` if present, otherwise `/data/{index}/attributes/departure_time` | ascending | `time` | | `/data/{index}/attributes/arrival_time` if present, otherwise `/data/{index}/attributes/departure_time` | descending | `-time` |  
        :type sort: str
        :param fields_prediction: Fields to include with the response. Multiple fields **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Note that fields can also be selected for included data types: see the [V3 API Best Practices](https://www.mbta.com/developers/v3-api/best-practices) for an example. 
        :type fields_prediction: str
        :param include: Relationships to include.  * `schedule` * `stop` * `route` * `trip` * `vehicle` * `alerts`  The value of the include parameter **MUST** be a comma-separated (U+002C COMMA, \",\") list of relationship paths. A relationship path is a dot-separated (U+002E FULL-STOP, \".\") list of relationship names. [JSONAPI \"include\" behavior](http://jsonapi.org/format/#fetching-includes)  ## Example  `https://api-v3.mbta.com/predictions?filter%5Bstop%5D=place-sstat&filter%5Bdirection_id%5D=0&include=stop` returns predictions from South Station with direction_id=0, below is a truncated response with only relevant fields displayed: ```   {     \"data\": [       {         \"id\": \"prediction-CR-Weekday-Fall-18-743-South Station-02-1\",         \"relationships\": {           \"stop\": {             \"data\": {               \"id\": \"South Station-02\",               \"type\": \"stop\"             }           },         },         \"type\": \"prediction\"       }     ],     \"included\": [       {         \"attributes\": {           \"platform_code\": \"2\",         },         \"id\": \"South Station-02\",         \"type\": \"stop\"       }     ],   } ``` Note the stop relationship; use it to cross-reference  stop-id with the included stops to retrieve the platform_code for the given prediction.  ## Note on trips A Vehicle's `trip` is what is currently being served.  A Prediction also has a `vehicle`: this is the vehicle we predict will serve this trip/stop.  Since we know vehicles make future trips, the trip the vehicle is currently servicing can be different from the trips we're making predictions for.  For example: * Vehicle 1234 is currently serving trip A * The block is Trip A → Trip B → Trip C  We'll be making predictions for the rest of trip A, as well as all the stops of trip B and trip C. The `trip` for the Vehicle is always `A`, and all of the Predictions will reference Vehicle 1234.  
        :type include: str
        :param filter_latitude:  Latitude/Longitude must be both present or both absent.
        :type filter_latitude: str
        :param filter_longitude:  Latitude/Longitude must be both present or both absent.
        :type filter_longitude: str
        :param filter_radius:  Radius accepts a floating point number, and the default is 0.01.  For example, if you query for: latitude: 42,  longitude: -71,  radius: 0.05 then you will filter between latitudes 41.95 and 42.05, and longitudes -70.95 and -71.05.
        :type filter_radius: date
        :param filter_direction_id: Filter by direction of travel along the route. Must be used in conjuction with `filter[route]` to apply.  The meaning of `direction_id` varies based on the route. You can programmatically get the direction names from `/routes` `/data/{index}/attributes/direction_names` or `/routes/{id}` `/data/attributes/direction_names`.    
        :type filter_direction_id: str
        :param filter_route_type: Filter by route_type: https://gtfs.org/documentation/schedule/reference/#routestxt.  Multiple `route_type` **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Must be used in conjunction with another filter. 
        :type filter_route_type: str
        :param filter_stop: Filter by `/data/{index}/relationships/stop/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Parent station IDs are treated as though their child stops were also included.  
        :type filter_stop: str
        :param filter_route: Filter by `/data/{index}/relationships/route/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.   
        :type filter_route: str
        :param filter_trip: Filter by `/data/{index}/relationships/trip/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.   
        :type filter_trip: str
        :param filter_revenue: Filter predictions by revenue status. Revenue status indicates whether or not the vehicle is accepting passengers. When filter is not included, the default behavior is to filter by `revenue=REVENUE`.  Multiple `revenue` types **MUST** be a comma-separated (U+002C COMMA, \",\") list. 
        :type filter_revenue: str
        :param filter_route_pattern: Filter by `/included/{index}/relationships/route_pattern/data/id` of a trip. Multiple `route_pattern_id` **MUST** be a comma-separated (U+002C COMMA, \",\") list. 
        :type filter_route_pattern: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._api_web_prediction_controller_index_serialize(
            page_offset=page_offset,
            page_limit=page_limit,
            sort=sort,
            fields_prediction=fields_prediction,
            include=include,
            filter_latitude=filter_latitude,
            filter_longitude=filter_longitude,
            filter_radius=filter_radius,
            filter_direction_id=filter_direction_id,
            filter_route_type=filter_route_type,
            filter_stop=filter_stop,
            filter_route=filter_route,
            filter_trip=filter_trip,
            filter_revenue=filter_revenue,
            filter_route_pattern=filter_route_pattern,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '429': "TooManyRequests",
            '403': "Forbidden",
            '400': "BadRequest",
            '200': "Predictions",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def api_web_prediction_controller_index_without_preload_content(
        self,
        page_offset: Annotated[Optional[Annotated[int, Field(strict=True, ge=0)]], Field(description="Offset (0-based) of first element in the page")] = None,
        page_limit: Annotated[Optional[Annotated[int, Field(strict=True, ge=1)]], Field(description="Max number of elements to return")] = None,
        sort: Annotated[Optional[StrictStr], Field(description="Results can be [sorted](http://jsonapi.org/format/#fetching-sorting) by the id or any `/data/{index}/attributes` key.  | JSON pointer | Direction | `sort`     | |--------------|-----------|------------| | `/data/{index}/attributes/arrival_time` | ascending | `arrival_time` | | `/data/{index}/attributes/arrival_time` | descending | `-arrival_time` | | `/data/{index}/attributes/arrival_uncertainty` | ascending | `arrival_uncertainty` | | `/data/{index}/attributes/arrival_uncertainty` | descending | `-arrival_uncertainty` | | `/data/{index}/attributes/departure_time` | ascending | `departure_time` | | `/data/{index}/attributes/departure_time` | descending | `-departure_time` | | `/data/{index}/attributes/departure_uncertainty` | ascending | `departure_uncertainty` | | `/data/{index}/attributes/departure_uncertainty` | descending | `-departure_uncertainty` | | `/data/{index}/attributes/direction_id` | ascending | `direction_id` | | `/data/{index}/attributes/direction_id` | descending | `-direction_id` | | `/data/{index}/attributes/revenue_status` | ascending | `revenue_status` | | `/data/{index}/attributes/revenue_status` | descending | `-revenue_status` | | `/data/{index}/attributes/schedule_relationship` | ascending | `schedule_relationship` | | `/data/{index}/attributes/schedule_relationship` | descending | `-schedule_relationship` | | `/data/{index}/attributes/status` | ascending | `status` | | `/data/{index}/attributes/status` | descending | `-status` | | `/data/{index}/attributes/stop_sequence` | ascending | `stop_sequence` | | `/data/{index}/attributes/stop_sequence` | descending | `-stop_sequence` | | `/data/{index}/attributes/update_type` | ascending | `update_type` | | `/data/{index}/attributes/update_type` | descending | `-update_type` |  | `/data/{index}/attributes/arrival_time` if present, otherwise `/data/{index}/attributes/departure_time` | ascending | `time` | | `/data/{index}/attributes/arrival_time` if present, otherwise `/data/{index}/attributes/departure_time` | descending | `-time` |  ")] = None,
        fields_prediction: Annotated[Optional[StrictStr], Field(description="Fields to include with the response. Multiple fields **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Note that fields can also be selected for included data types: see the [V3 API Best Practices](https://www.mbta.com/developers/v3-api/best-practices) for an example. ")] = None,
        include: Annotated[Optional[StrictStr], Field(description="Relationships to include.  * `schedule` * `stop` * `route` * `trip` * `vehicle` * `alerts`  The value of the include parameter **MUST** be a comma-separated (U+002C COMMA, \",\") list of relationship paths. A relationship path is a dot-separated (U+002E FULL-STOP, \".\") list of relationship names. [JSONAPI \"include\" behavior](http://jsonapi.org/format/#fetching-includes)  ## Example  `https://api-v3.mbta.com/predictions?filter%5Bstop%5D=place-sstat&filter%5Bdirection_id%5D=0&include=stop` returns predictions from South Station with direction_id=0, below is a truncated response with only relevant fields displayed: ```   {     \"data\": [       {         \"id\": \"prediction-CR-Weekday-Fall-18-743-South Station-02-1\",         \"relationships\": {           \"stop\": {             \"data\": {               \"id\": \"South Station-02\",               \"type\": \"stop\"             }           },         },         \"type\": \"prediction\"       }     ],     \"included\": [       {         \"attributes\": {           \"platform_code\": \"2\",         },         \"id\": \"South Station-02\",         \"type\": \"stop\"       }     ],   } ``` Note the stop relationship; use it to cross-reference  stop-id with the included stops to retrieve the platform_code for the given prediction.  ## Note on trips A Vehicle's `trip` is what is currently being served.  A Prediction also has a `vehicle`: this is the vehicle we predict will serve this trip/stop.  Since we know vehicles make future trips, the trip the vehicle is currently servicing can be different from the trips we're making predictions for.  For example: * Vehicle 1234 is currently serving trip A * The block is Trip A → Trip B → Trip C  We'll be making predictions for the rest of trip A, as well as all the stops of trip B and trip C. The `trip` for the Vehicle is always `A`, and all of the Predictions will reference Vehicle 1234.  ")] = None,
        filter_latitude: Annotated[Optional[StrictStr], Field(description=" Latitude/Longitude must be both present or both absent.")] = None,
        filter_longitude: Annotated[Optional[StrictStr], Field(description=" Latitude/Longitude must be both present or both absent.")] = None,
        filter_radius: Annotated[Optional[date], Field(description=" Radius accepts a floating point number, and the default is 0.01.  For example, if you query for: latitude: 42,  longitude: -71,  radius: 0.05 then you will filter between latitudes 41.95 and 42.05, and longitudes -70.95 and -71.05.")] = None,
        filter_direction_id: Annotated[Optional[StrictStr], Field(description="Filter by direction of travel along the route. Must be used in conjuction with `filter[route]` to apply.  The meaning of `direction_id` varies based on the route. You can programmatically get the direction names from `/routes` `/data/{index}/attributes/direction_names` or `/routes/{id}` `/data/attributes/direction_names`.    ")] = None,
        filter_route_type: Annotated[Optional[StrictStr], Field(description="Filter by route_type: https://gtfs.org/documentation/schedule/reference/#routestxt.  Multiple `route_type` **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Must be used in conjunction with another filter. ")] = None,
        filter_stop: Annotated[Optional[StrictStr], Field(description="Filter by `/data/{index}/relationships/stop/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Parent station IDs are treated as though their child stops were also included.  ")] = None,
        filter_route: Annotated[Optional[StrictStr], Field(description="Filter by `/data/{index}/relationships/route/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.   ")] = None,
        filter_trip: Annotated[Optional[StrictStr], Field(description="Filter by `/data/{index}/relationships/trip/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.   ")] = None,
        filter_revenue: Annotated[Optional[StrictStr], Field(description="Filter predictions by revenue status. Revenue status indicates whether or not the vehicle is accepting passengers. When filter is not included, the default behavior is to filter by `revenue=REVENUE`.  Multiple `revenue` types **MUST** be a comma-separated (U+002C COMMA, \",\") list. ")] = None,
        filter_route_pattern: Annotated[Optional[StrictStr], Field(description="Filter by `/included/{index}/relationships/route_pattern/data/id` of a trip. Multiple `route_pattern_id` **MUST** be a comma-separated (U+002C COMMA, \",\") list. ")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RESTResponseType:
        """api_web_prediction_controller_index

        **NOTE:** A filter **MUST** be present for any predictions to be returned.  List of predictions for trips.  To get the scheduled times instead of the predictions, use `/schedules`.  The predicted arrival time (`//data/{index}/attributes/arrival_time`) and departure time (`/data/{index}/attributes/departure_time`) to/from a stop (`/data/{index}/relationships/stop/data/id`) at a given sequence (`/data/{index}/attriutes/stop_sequence`) along a trip (`/data/{index}/relationships/trip/data/id`) going a direction (`/data/{index}/attributes/direction_id`) along a route (`/data/{index}/relationships/route/data/id`).  See [GTFS Realtime `FeedMesage` `FeedEntity` `TripUpdate` `TripDescriptor`](https://github.com/google/transit/blob/master/gtfs-realtime/spec/en/reference.md#message-tripdescriptor) See [GTFS Realtime `FeedMesage` `FeedEntity` `TripUpdate` `StopTimeUpdate`](https://github.com/google/transit/blob/master/gtfs-realtime/spec/en/reference.md#message-stoptimeupdate)   ## When a vehicle is predicted to be at a stop  `/predictions?filter[stop]=STOP_ID`  ## The predicted schedule for one route  `/predictions?filter[route]=ROUTE_ID`  ## The predicted schedule for a whole trip  `/predictions?filter[trip]=TRIP_ID`  

        :param page_offset: Offset (0-based) of first element in the page
        :type page_offset: int
        :param page_limit: Max number of elements to return
        :type page_limit: int
        :param sort: Results can be [sorted](http://jsonapi.org/format/#fetching-sorting) by the id or any `/data/{index}/attributes` key.  | JSON pointer | Direction | `sort`     | |--------------|-----------|------------| | `/data/{index}/attributes/arrival_time` | ascending | `arrival_time` | | `/data/{index}/attributes/arrival_time` | descending | `-arrival_time` | | `/data/{index}/attributes/arrival_uncertainty` | ascending | `arrival_uncertainty` | | `/data/{index}/attributes/arrival_uncertainty` | descending | `-arrival_uncertainty` | | `/data/{index}/attributes/departure_time` | ascending | `departure_time` | | `/data/{index}/attributes/departure_time` | descending | `-departure_time` | | `/data/{index}/attributes/departure_uncertainty` | ascending | `departure_uncertainty` | | `/data/{index}/attributes/departure_uncertainty` | descending | `-departure_uncertainty` | | `/data/{index}/attributes/direction_id` | ascending | `direction_id` | | `/data/{index}/attributes/direction_id` | descending | `-direction_id` | | `/data/{index}/attributes/revenue_status` | ascending | `revenue_status` | | `/data/{index}/attributes/revenue_status` | descending | `-revenue_status` | | `/data/{index}/attributes/schedule_relationship` | ascending | `schedule_relationship` | | `/data/{index}/attributes/schedule_relationship` | descending | `-schedule_relationship` | | `/data/{index}/attributes/status` | ascending | `status` | | `/data/{index}/attributes/status` | descending | `-status` | | `/data/{index}/attributes/stop_sequence` | ascending | `stop_sequence` | | `/data/{index}/attributes/stop_sequence` | descending | `-stop_sequence` | | `/data/{index}/attributes/update_type` | ascending | `update_type` | | `/data/{index}/attributes/update_type` | descending | `-update_type` |  | `/data/{index}/attributes/arrival_time` if present, otherwise `/data/{index}/attributes/departure_time` | ascending | `time` | | `/data/{index}/attributes/arrival_time` if present, otherwise `/data/{index}/attributes/departure_time` | descending | `-time` |  
        :type sort: str
        :param fields_prediction: Fields to include with the response. Multiple fields **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Note that fields can also be selected for included data types: see the [V3 API Best Practices](https://www.mbta.com/developers/v3-api/best-practices) for an example. 
        :type fields_prediction: str
        :param include: Relationships to include.  * `schedule` * `stop` * `route` * `trip` * `vehicle` * `alerts`  The value of the include parameter **MUST** be a comma-separated (U+002C COMMA, \",\") list of relationship paths. A relationship path is a dot-separated (U+002E FULL-STOP, \".\") list of relationship names. [JSONAPI \"include\" behavior](http://jsonapi.org/format/#fetching-includes)  ## Example  `https://api-v3.mbta.com/predictions?filter%5Bstop%5D=place-sstat&filter%5Bdirection_id%5D=0&include=stop` returns predictions from South Station with direction_id=0, below is a truncated response with only relevant fields displayed: ```   {     \"data\": [       {         \"id\": \"prediction-CR-Weekday-Fall-18-743-South Station-02-1\",         \"relationships\": {           \"stop\": {             \"data\": {               \"id\": \"South Station-02\",               \"type\": \"stop\"             }           },         },         \"type\": \"prediction\"       }     ],     \"included\": [       {         \"attributes\": {           \"platform_code\": \"2\",         },         \"id\": \"South Station-02\",         \"type\": \"stop\"       }     ],   } ``` Note the stop relationship; use it to cross-reference  stop-id with the included stops to retrieve the platform_code for the given prediction.  ## Note on trips A Vehicle's `trip` is what is currently being served.  A Prediction also has a `vehicle`: this is the vehicle we predict will serve this trip/stop.  Since we know vehicles make future trips, the trip the vehicle is currently servicing can be different from the trips we're making predictions for.  For example: * Vehicle 1234 is currently serving trip A * The block is Trip A → Trip B → Trip C  We'll be making predictions for the rest of trip A, as well as all the stops of trip B and trip C. The `trip` for the Vehicle is always `A`, and all of the Predictions will reference Vehicle 1234.  
        :type include: str
        :param filter_latitude:  Latitude/Longitude must be both present or both absent.
        :type filter_latitude: str
        :param filter_longitude:  Latitude/Longitude must be both present or both absent.
        :type filter_longitude: str
        :param filter_radius:  Radius accepts a floating point number, and the default is 0.01.  For example, if you query for: latitude: 42,  longitude: -71,  radius: 0.05 then you will filter between latitudes 41.95 and 42.05, and longitudes -70.95 and -71.05.
        :type filter_radius: date
        :param filter_direction_id: Filter by direction of travel along the route. Must be used in conjuction with `filter[route]` to apply.  The meaning of `direction_id` varies based on the route. You can programmatically get the direction names from `/routes` `/data/{index}/attributes/direction_names` or `/routes/{id}` `/data/attributes/direction_names`.    
        :type filter_direction_id: str
        :param filter_route_type: Filter by route_type: https://gtfs.org/documentation/schedule/reference/#routestxt.  Multiple `route_type` **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Must be used in conjunction with another filter. 
        :type filter_route_type: str
        :param filter_stop: Filter by `/data/{index}/relationships/stop/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.  Parent station IDs are treated as though their child stops were also included.  
        :type filter_stop: str
        :param filter_route: Filter by `/data/{index}/relationships/route/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.   
        :type filter_route: str
        :param filter_trip: Filter by `/data/{index}/relationships/trip/data/id`.  Multiple IDs **MUST** be a comma-separated (U+002C COMMA, \",\") list.   
        :type filter_trip: str
        :param filter_revenue: Filter predictions by revenue status. Revenue status indicates whether or not the vehicle is accepting passengers. When filter is not included, the default behavior is to filter by `revenue=REVENUE`.  Multiple `revenue` types **MUST** be a comma-separated (U+002C COMMA, \",\") list. 
        :type filter_revenue: str
        :param filter_route_pattern: Filter by `/included/{index}/relationships/route_pattern/data/id` of a trip. Multiple `route_pattern_id` **MUST** be a comma-separated (U+002C COMMA, \",\") list. 
        :type filter_route_pattern: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._api_web_prediction_controller_index_serialize(
            page_offset=page_offset,
            page_limit=page_limit,
            sort=sort,
            fields_prediction=fields_prediction,
            include=include,
            filter_latitude=filter_latitude,
            filter_longitude=filter_longitude,
            filter_radius=filter_radius,
            filter_direction_id=filter_direction_id,
            filter_route_type=filter_route_type,
            filter_stop=filter_stop,
            filter_route=filter_route,
            filter_trip=filter_trip,
            filter_revenue=filter_revenue,
            filter_route_pattern=filter_route_pattern,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '429': "TooManyRequests",
            '403': "Forbidden",
            '400': "BadRequest",
            '200': "Predictions",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _api_web_prediction_controller_index_serialize(
        self,
        page_offset,
        page_limit,
        sort,
        fields_prediction,
        include,
        filter_latitude,
        filter_longitude,
        filter_radius,
        filter_direction_id,
        filter_route_type,
        filter_stop,
        filter_route,
        filter_trip,
        filter_revenue,
        filter_route_pattern,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        if page_offset is not None:
            
            _query_params.append(('page[offset]', page_offset))
            
        if page_limit is not None:
            
            _query_params.append(('page[limit]', page_limit))
            
        if sort is not None:
            
            _query_params.append(('sort', sort))
            
        if fields_prediction is not None:
            
            _query_params.append(('fields[prediction]', fields_prediction))
            
        if include is not None:
            
            _query_params.append(('include', include))
            
        if filter_latitude is not None:
            
            _query_params.append(('filter[latitude]', filter_latitude))
            
        if filter_longitude is not None:
            
            _query_params.append(('filter[longitude]', filter_longitude))
            
        if filter_radius is not None:
            if isinstance(filter_radius, date):
                _query_params.append(
                    (
                        'filter[radius]',
                        filter_radius.strftime(
                            self.api_client.configuration.date_format
                        )
                    )
                )
            else:
                _query_params.append(('filter[radius]', filter_radius))
            
        if filter_direction_id is not None:
            
            _query_params.append(('filter[direction_id]', filter_direction_id))
            
        if filter_route_type is not None:
            
            _query_params.append(('filter[route_type]', filter_route_type))
            
        if filter_stop is not None:
            
            _query_params.append(('filter[stop]', filter_stop))
            
        if filter_route is not None:
            
            _query_params.append(('filter[route]', filter_route))
            
        if filter_trip is not None:
            
            _query_params.append(('filter[trip]', filter_trip))
            
        if filter_revenue is not None:
            
            _query_params.append(('filter[revenue]', filter_revenue))
            
        if filter_route_pattern is not None:
            
            _query_params.append(('filter[route_pattern]', filter_route_pattern))
            
        # process the header parameters
        # process the form parameters
        # process the body parameter


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/vnd.api+json'
                ]
            )


        # authentication setting
        _auth_settings: List[str] = [
            'api_key_in_query', 
            'api_key_in_header'
        ]

        return self.api_client.param_serialize(
            method='GET',
            resource_path='/predictions',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )


